body {
  height: 2500px;
}

div.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

div.scroll-position-debug {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #333;
  color: white;
}

div.simple-circle {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  width: 100px;
  height: 100px;
}

div.mini-circle {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  width: 30px;
  height: 30px;
}

div.mini-circle-label {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  width: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}

div.transformer-text {
  position: absolute;
  top: 100px;
  left: 0;
  will-change: transform;
}
